@font-face {
  font-family: Header-Font;
  src: url(../fonts/webfontkit-20250210-004354/sf_arch_rival-webfont.woff)
      format(woff),
    url(../fonts/webfontkit-20250210-004354/sf_arch_rival-webfont.woff2)
      format(woff);
  font-weight: bold;
  font-style: normal;
}

.header-font {
  font-family: Header-Font;
}
